# Clock

NET "clk24"       LOC=J16 | IOSTANDARD=LVCMOS33;

NET "clk24"       TNM_NET = "clk24_net";
TIMESPEC "TSclk24" = PERIOD "clk24_net" 41.67 ns HIGH 50%;

# UART

NET "uart_txd"    LOC=J1  | IOSTANDARD=LVCMOS33;
NET "uart_rxd"    LOC=H1  | IOSTANDARD=LVCMOS33;

# CPU

NET "cpu_bclk"    LOC=F16 | IOSTANDARD=LVCMOS33;
NET "cpu_pclk"    LOC=F14 | IOSTANDARD=LVCMOS33;

NET "cpu_ad(0)"   LOC=C6  | IOSTANDARD=LVCMOS33;
NET "cpu_ad(1)"   LOC=D6  | IOSTANDARD=LVCMOS33;
NET "cpu_ad(2)"   LOC=E6  | IOSTANDARD=LVCMOS33;
NET "cpu_ad(3)"   LOC=C7  | IOSTANDARD=LVCMOS33;
NET "cpu_ad(4)"   LOC=C8  | IOSTANDARD=LVCMOS33;
NET "cpu_ad(5)"   LOC=D5  | IOSTANDARD=LVCMOS33;
NET "cpu_ad(6)"   LOC=B15 | IOSTANDARD=LVCMOS33;
NET "cpu_ad(7)"   LOC=A14 | IOSTANDARD=LVCMOS33;

NET "cpu_ad(8)"   LOC=B14 | IOSTANDARD=LVCMOS33;
NET "cpu_ad(9)"   LOC=A13 | IOSTANDARD=LVCMOS33;
NET "cpu_ad(10)"  LOC=C13 | IOSTANDARD=LVCMOS33;
NET "cpu_ad(11)"  LOC=A12 | IOSTANDARD=LVCMOS33;
NET "cpu_ad(12)"  LOC=B12 | IOSTANDARD=LVCMOS33;
NET "cpu_ad(13)"  LOC=A11 | IOSTANDARD=LVCMOS33;
NET "cpu_ad(14)"  LOC=A10 | IOSTANDARD=LVCMOS33;
NET "cpu_ad(15)"  LOC=A9  | IOSTANDARD=LVCMOS33;

NET "cpu_ad(16)"  LOC=C11 | IOSTANDARD=LVCMOS33;
NET "cpu_ad(17)"  LOC=C9  | IOSTANDARD=LVCMOS33;
NET "cpu_ad(18)"  LOC=B10 | IOSTANDARD=LVCMOS33;
NET "cpu_ad(19)"  LOC=B8  | IOSTANDARD=LVCMOS33;
NET "cpu_ad(20)"  LOC=A6  | IOSTANDARD=LVCMOS33;
NET "cpu_ad(21)"  LOC=B5  | IOSTANDARD=LVCMOS33;
NET "cpu_ad(22)"  LOC=B6  | IOSTANDARD=LVCMOS33;
NET "cpu_ad(23)"  LOC=A8  | IOSTANDARD=LVCMOS33;

NET "cpu_ad(24)"  LOC=B3  | IOSTANDARD=LVCMOS33;
NET "cpu_ad(25)"  LOC=A7  | IOSTANDARD=LVCMOS33;
NET "cpu_ad(26)"  LOC=A3  | IOSTANDARD=LVCMOS33;
NET "cpu_ad(27)"  LOC=C5  | IOSTANDARD=LVCMOS33;
NET "cpu_ad(28)"  LOC=B2  | IOSTANDARD=LVCMOS33;
NET "cpu_ad(29)"  LOC=A5  | IOSTANDARD=LVCMOS33;
NET "cpu_ad(30)"  LOC=A4  | IOSTANDARD=LVCMOS33;
NET "cpu_ad(31)"  LOC=A2  | IOSTANDARD=LVCMOS33;

NET "cpu_dir"     LOC=D8  | IOSTANDARD=LVCMOS33;
NET "cpu_oe"      LOC=D9  | IOSTANDARD=LVCMOS33;

NET "cpu_siz(0)"  LOC=C10 | IOSTANDARD=LVCMOS33;
NET "cpu_siz(1)"  LOC=D11 | IOSTANDARD=LVCMOS33;

NET "cpu_tt(0)"   LOC=B16 | IOSTANDARD=LVCMOS33;
NET "cpu_tt(1)"   LOC=C16 | IOSTANDARD=LVCMOS33;

NET "cpu_rsto"    LOC=C15 | IOSTANDARD=LVCMOS33;
NET "cpu_tip"     LOC=D12 | IOSTANDARD=LVCMOS33;
NET "cpu_ts"      LOC=E11 | IOSTANDARD=LVCMOS33;
NET "cpu_rw"      LOC=E8  | IOSTANDARD=LVCMOS33;

NET "cpu_cdis"    LOC=E15 | IOSTANDARD=LVCMOS33;
NET "cpu_rsti"    LOC=E16 | IOSTANDARD=LVCMOS33;
NET "cpu_irq"     LOC=D16 | IOSTANDARD=LVCMOS33;
NET "cpu_ta"      LOC=D14 | IOSTANDARD=LVCMOS33;

# SDRAM

NET "sdram_clk"   LOC=B1  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_cke"   LOC=F2  | IOSTANDARD=LVCMOS33 | SLEW=FAST;

NET "sdram_d(0)"  LOC=H2  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_d(1)"  LOC=K5  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_d(2)"  LOC=J3  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_d(3)"  LOC=L3  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_d(4)"  LOC=L5  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_d(5)"  LOC=L4  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_d(6)"  LOC=M4  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_d(7)"  LOC=N4  | IOSTANDARD=LVCMOS33 | SLEW=FAST;

NET "sdram_d(8)"  LOC=E3  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_d(9)"  LOC=D3  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_d(10)" LOC=E4  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_d(11)" LOC=F4  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_d(12)" LOC=F5  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_d(13)" LOC=G5  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_d(14)" LOC=H4  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_d(15)" LOC=J4  | IOSTANDARD=LVCMOS33 | SLEW=FAST;

NET "sdram_dm(0)" LOC=K3  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_dm(1)" LOC=G1  | IOSTANDARD=LVCMOS33 | SLEW=FAST;

NET "sdram_a(0)"  LOC=N3  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_a(1)"  LOC=P1  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_a(2)"  LOC=P2  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_a(3)"  LOC=R1  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_a(4)"  LOC=C3  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_a(5)"  LOC=C1  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_a(6)"  LOC=C2  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_a(7)"  LOC=D1  | IOSTANDARD=LVCMOS33 | SLEW=FAST;

NET "sdram_a(8)"  LOC=E2  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_a(9)"  LOC=E1  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_a(10)" LOC=N1  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_a(11)" LOC=F3  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_a(12)" LOC=F1  | IOSTANDARD=LVCMOS33 | SLEW=FAST;

NET "sdram_ba(0)" LOC=M1  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_ba(1)" LOC=M2  | IOSTANDARD=LVCMOS33 | SLEW=FAST;

NET "sdram_cas"   LOC=K2  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_ras"   LOC=L1  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_cs"    LOC=M3  | IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "sdram_we"    LOC=K1  | IOSTANDARD=LVCMOS33 | SLEW=FAST;

# Flash

NET "flash_miso"  LOC=P10 | IOSTANDARD=LVCMOS33;
NET "flash_mosi"  LOC=T10 | IOSTANDARD=LVCMOS33;
NET "flash_sck"   LOC=R11 | IOSTANDARD=LVCMOS33;
NET "flash_cs"    LOC=T3  | IOSTANDARD=LVCMOS33;

# SD Card

NET "sd_miso"     LOC=R15 | IOSTANDARD=LVCMOS33;
NET "sd_mosi"     LOC=R16 | IOSTANDARD=LVCMOS33;
NET "sd_sck"      LOC=T15 | IOSTANDARD=LVCMOS33;
NET "sd_cs"       LOC=P15 | IOSTANDARD=LVCMOS33;

# Ethernet

NET "eth_miso"    LOC=T12 | IOSTANDARD=LVCMOS33;
NET "eth_mosi"    LOC=R12 | IOSTANDARD=LVCMOS33;
NET "eth_sck"     LOC=P11 | IOSTANDARD=LVCMOS33;
NET "eth_cs"      LOC=T13 | IOSTANDARD=LVCMOS33;

NET "eth_int"     LOC=R14 | IOSTANDARD=LVCMOS33;
NET "eth_rst"     LOC=T14 | IOSTANDARD=LVCMOS33;

# Audio

NET "i2s_wsel"    LOC=M10 | IOSTANDARD=LVCMOS33;
NET "i2s_dout"    LOC=M11 | IOSTANDARD=LVCMOS33;
NET "i2s_bclk"    LOC=N12 | IOSTANDARD=LVCMOS33;

# PS2

NET "ps2_dat"     LOC=E12 | IOSTANDARD=LVCMOS33;
NET "ps2_clk"     LOC=F13 | IOSTANDARD=LVCMOS33;

# USB0

NET "usb0_m"      LOC=K16 | IOSTANDARD=LVCMOS33;
NET "usb0_p"      LOC=K15 | IOSTANDARD=LVCMOS33;
NET "usb0_pu"     LOC=L16 | IOSTANDARD=LVCMOS33;

# USB1

NET "usb1_m"      LOC=N16 | IOSTANDARD=LVCMOS33;
NET "usb1_p"      LOC=M15 | IOSTANDARD=LVCMOS33;
NET "usb1_pu"     LOC=M16 | IOSTANDARD=LVCMOS33;
